/* CSS definition file containing site stylesheet */
body {
    background-image: url("/assets/images/bg.jpg");
    background-repeat: repeat-x;
}
#img-logo{
    max-width:150px;
    max-height:100px;
}
img.items{
    max-width:300px;
}
.pic-single{
    position:relative;
    float:left;
    width:310px;
    margin: 20px 0 0 20px;
}
.desc{
    position:relative;
    float:left;
    width:60%;
    padding: 20px 0 0 20px;
    margin: 20px 0 0 20px;
    border-style: dotted;
    border-radius: 15px;
    border-color: palevioletred;
}

.ingredient td {border: 1px solid black;}
th, td {padding: 15px; text-align: left;}


.sales td {border: 0px ;}


