/* CSS definition file containing site stylesheet */
body {
    background-image: url("/assets/images/bg.jpg");
    background-repeat: repeat-x;
}
#content {
    /*width:100%; margin-left:5% auto;margin-right:5% auto;*/
    background: #ffffe9;
    border-radius:8px;
}
#img-logo{
    max-width:150px;
    max-height:100px;
}
img.items{
    max-width:300px;
}
.pic-single{
    position:relative;
    float:left;
    width:27%;
}
.desc{
    position:relative;
    float:left;
}
.sales td {border: 0px ;}

