/* CSS definition file containing site stylesheet */
body {
    background-image: url("/assets/images/bg.jpg");
    background-repeat: repeat-x;
}
.header-title {
    width: 100%;
    padding: 30px;
    font-family: 'Architects Daughter', cursive;
    border-style: dotted;
    border-radius: 15px;
    border-color: palevioletred;
    background-color: white;
    opacity: 0.9;
}
#header {
    min-height: 100px;
    background-image: url("/assets/images/header_image.jpeg");
}
#img-logo{
    max-width:150px;
    max-height:100px;
}
img.items{
    max-width:300px;
}
.pic-single{
    position:relative;
    float:left;
    width:310px;
    margin: 20px 0 0 20px;
}
.textbox{
    width:20%;
    }
.desc{
    position:relative;
    float:left;
    width:60%;
    padding: 20px 0 0 20px;
    margin: 20px 0 0 20px;
    border-style: dotted;
    border-radius: 15px;
    border-color: palevioletred;
    background-color: white;
    opacity: 0.9;
}
.sales td {border: 0px ;}


